.git
.github
.pstdio
!.pstdio/
.pstdio/*
!.pstdio/extensions/
.pstdio/extensions/*
!.pstdio/extensions/font-editor/
.pstdio/extensions/font-editor/*
!.pstdio/extensions/font-editor/package.json
!.pstdio/extensions/pstdio-dev/
.pstdio/extensions/pstdio-dev/*
!.pstdio/extensions/pstdio-dev/package.json
!.pstdio/extensions/pstdio-planner-loops/
.pstdio/extensions/pstdio-planner-loops/*
!.pstdio/extensions/pstdio-planner-loops/package.json
.nx
.vscode
.idea

**/node_modules
**/.cache
**/dist
**/coverage
**/playwright-report
**/test-results

clients/landing-page/public
**/*.log
